.error{
    color:red;
    display:none;
}
.primary{
border: 1px solid;
}

.drop{

    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;

}
.dropdown .name{
    list-style: none;
}
.dropdown .name li{

    background-color:deepskyblue ;
    cursor: pointer;
}

.outer div.names{
    display: inline-block;
    border: solid 1px dodgerblue;
    padding: 2px;
    margin: 1px;
    background-color: dodgerblue;
    color: #ffffff;
    width: 100px;
}
ul.submenu {
    position: absolute;
    color: red;
    display: block;
    /* border: solid 1px red; */
    height: 50px;
    display: none;
}
ul.submenu li.test{
    list-style-type: none;
    border: solid 1px dodgerblue;
    padding: 4px;
    color: #1783ec;
    position: relative;
    left: -43px;
    top: -13px;
    width: 100px;
    border-top: none;
    height: 20px;
}
ul.submenu li.test:hover{
color: red;
}
ul.submenu li.test li.ok{
    position: relative;
    color: black;
    left: 110px;
    top: -22px;
    border: solid 1px dodgerblue;
    padding: 4px;
}